@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  color: white;
  font-family: 'Bebas Neue', cursive;
}

.header {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
  background-color: #fca311;
  color: white;
}

.again {
  font-size: 2rem;
  padding: 0.7rem 1rem;
  border-radius: 10px;
}

.header-content p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

.header h1 {
  font-size: 7rem;
  letter-spacing: 0.2rem;
  margin: 2rem 0;
}

.number {
  background-color: white;
  color: #000000;
  font-size: 3.5rem;
  padding: 1rem 4rem;
  border-radius: 10px;
}

main {
  width: 90%;
  margin: 0rem auto;
  display: flex;
  justify-content: space-around;
}

.left {
  display: flex;
  flex-direction: column;
}

.guess-number {
  text-align: center;
  width: 130px;
  height: 80px;
  background-color: #000000;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  font-size: 4rem;
  outline: none;
}

.check {
  margin-top: 2rem;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.3rem 1rem;
}

.right {
  display: flex;
  flex-direction: column;
}

.right p {
  margin: 0.5rem 0;
  font-size: 1.8rem;
}

.right p:first-child {
  font-size: 3rem;
}

.right p span {
  margin-left: 1.5rem;
}
